/* 
    Created on : Oct 8, 2016, 8:03:46 PM
    Author     : surbhi
*/

p {display: inline; color: red; visibility: hidden}

#heading {
    text-align: center;
}

#formdiv{
    width:360px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;    
    border-style: double;
    border-color: turquoise;
}
